<!DOCTYPE html>
<html>
<head>
<title> FACE ID REGISTRATION_DEVELOPER </title>

 <link rel="stylesheet" href="/css/style.css" type="text/css" media="all">
 

</head>
<body>
    
	<section class='main2'>
	  <div class='layer'>
	     <div class='bottom-grid'>
		        <div class='col'>
			     <h1>  FACE ID </h1>
				 </div>
				 
			<div class="links">
			 <ul class="links-unordered-list">
			        <li class='' >
						<a href="/" class="" style="color:black;">Login</a>
					</li>
					<li class="active">
						<a href="#" class="">Register</a>
					</li>
					<li class="">
						<a href="#" class="" style="color:black;">Contact</a>
					</li>
				</ul>
		</div>
		</div>
		<div class="content-w3ls">
		   <div class="content-bottom">
		      <form action="developerregistration" method="post">
					<div class="field-group">
						
						<div class="wthree-field">
							<input name="developerid" id="developerid" type="text" value="" placeholder="Username" required>
						</div>
					</div>
					<div class="field-group">
						
						<div class="wthree-field">
							<input name="email" id="email" type="email" value="" placeholder="Email Address" required>
						</div>
					</div>
					<div class="field-group">
						
						<div class="wthree-field">
							<input name="password" id="pass" type="Password" placeholder="Password">
						</div>
					</div>
					<div class="wthree-field">
						<button type="submit" class="btn">REGISTER</button>
					</div>
					
				</form>
		
			</div>
		</div>
		<div class="bottom-grid1">
			<div class="links">
				<ul class="links-unordered-list1">
					<li class="">
						<a href="about_us.html" class=""><b>About Us</b></a>
					</li>
					<li class="">
						<a href="privacy.html" class=""><b>Privacy Policy</b></a>
					</li>
					
				</ul>
				</div>
				</div>
				</div>
	</section>
	
	
</body>
</html>