<!DOCTYPE html>
<html>
<head>
<title> FACE ID </title>

 <link rel="stylesheet" href="/css/style.css" type="text/css" media="all">
 

</head>
<body>
    
	<section class='main'>
	  <div class='layer'>
	     <div class='bottom-grid'>
		        <div class='col'>
			     <h1>  FACE ID </h1>
				 </div>
				 
			
		</div>
		<div class="content-w3ls">
		   <div class="content-bottom">
		  
					
					<div class="wthree-field">
						<button type="submit"onclick="location.href='http://8b748fa3.ngrok.io/recogniser/'" class="btn">lOGIN</button>
					</div>
					<div class="wthree-field">
						<button type="submit" onclick="location.href='/facelogin'" class="btn">REGISTER</button>
					</div>
					
			
			</div>
		</div>
		
				</div>
	</section>
	
	
</body>
</html>